@font-face { 
    font-family: Shonar;
    src: url(../font/Shonar\ Bangla\ Regular.ttf);
}

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.first-wp {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 85vh;
    width: 100%;
    max-width: 900px;
    border: 12px solid #800000;
    padding: 20px;
    background-color: #fff;
}

header {
    display: flex;
    align-items: center; 
    gap: 20px; 
    width: 100%;
}

h1#about-title {
    font-weight: bold;
    font-family: 'Shonar', serif;
    margin-bottom: 0;  
    margin-left: 45px;
}

#sidemain-title {
    font-weight: bold;
    font-family: 'Shonar', serif;
    margin-bottom: 0;  
}

.about-content {
    display: flex;
    gap: 10px;
    align-items: flex-start;  
    width: 100%;
    justify-content: center;
}

.image-and-below {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.about-image, .extra-image {
    width: 250px;
    height: 200px;
    margin-bottom: 5px;
}

.extra-image {
    margin-top: 5px;
}

.below-text, .side-text {
    max-width: 250px;
    word-wrap: break-word;
    padding: 5px;
    margin: 5px;
}

.below-text p, .side-text p {
    margin: 0;
    padding-bottom: 5px;
}

.about-name {
    margin: 20px 0;
}

.about-description {
    margin-bottom: 5px;
}

.side-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.side-boxes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    margin-left: 20px;
    align-items: center;
    justify-content: flex-start;  
    height: auto;  
    margin-top: 0; 
}

.side-box-1, .side-box-2 {
    width: 100%;
    padding: 15px;
    border: 2px solid black;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
